<%- partial('_pre') %>
<% page.comments = false; %>
<div class='l_main<%- page.sidebar == false ? ' no_sidebar' : '' %>'>
  <% if (site.posts && site.posts.length > 0) { %>
    <% if (page.layout == 'category') { %>
      <div class='post-wrapper'>
        <article id="cat" class="post article white-box reveal <%- theme.custom_css.body.effect.join(' ') %>">
          <h2><%- page.title %></h2>
          <div class="all-cats">
            <% if (site.categories.length){ %>
              <% site.categories.sort('path').each(function(category){ %>
                <a class="<%= category.parent ? ' child' : ''%>" href="<%= url_for(category.path) %>">
                  <span><i class='fas fa-folder-open fa-fw' aria-hidden="true"></i>&nbsp;&nbsp;<%= category.name %></span>
                  <span class="title">
                    (<%- category.posts.length %>)
                  </span>
                </a>
              <% }) %>
            <% } %>
          </div>
		  <% if (site.categories.length>1) { %>
               <%- partial('_widget/category-radar') %>
          <% } %>
          <br>
          <%- page.content %>
        </article>
      </div>
    <% } else { %>
      <%- partial('_partial/archive') %>
    <% } %>
  <% } %>
</div>
<%- partial('_partial/side') %>

<script type="text/javascript">
    var radarChart = echarts.init(document.getElementById('category-radar'));
	window.addEventListener("resize", () => { radarChart.resize(); });

    <%
        var categories = site.categories;

        // Find the maximum and average values of the post categories.
        var radarValueArr = [];
        categories.some(function(category) {
            radarValueArr.push(category.length);
        });

        var max = Math.max.apply(null, radarValueArr) + Math.min.apply(null, radarValueArr);

        // Calculate the data needed for the radar chart.
        var indicatorArr = [];
        categories.map(function(category) {
            indicatorArr.push({'name': category.name, 'max': max});
        });

        var indicatorData = JSON.stringify(indicatorArr);
        var radarValueData = JSON.stringify(radarValueArr);
    %>

    var option = {
        animation: true,
        tooltip: {},
        radar: {
            name: {
                textStyle: {
                    color: '#3C4858'
                }
            },
            indicator: <%- indicatorData %>,
            nameGap: 5,
            center: ['50%','55%'],
            radius: '66%'
        },
        series: [{
            type: 'radar',
            color: ['#3ecf8e'],
            itemStyle: {normal: {areaStyle: {type: 'default'}}},
            data : [
                {
                    value : <%- radarValueData %>,
                    name : '<%= __("文章分类雷达图") %>'
                }
            ]
        }]
    };

    radarChart.setOption(option);
	setTimeout(function(){radarChart.resize();},200); //https://blog.csdn.net/weixin_37817251/article/details/90046795
	//window.onload=function(){radarChart.resize();}
</script>