<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leancloud-storage@3/dist/av-min.js"></script>
<% if (theme.comments.valine.js) { %>
  <%- js(theme.comments.valine.js) %>
<% } else if(theme.use_cdn) { %>
  <%- js(['https://cdn.jsdelivr.net/npm/hexo-theme-volantis@'+theme.info.theme_version+'/source/js/valine.min.js']) %>
<% } else { %>
  <%- js(['js/valine.js']) %>
<% } %>
<script>
  function emoji(path, idx, ext) {
    return path + "/" + path + "-" + idx + "." + ext;
  }
  var emojiMaps = {};
  for (var i = 1; i <= 54; i++) {
    emojiMaps['tieba-' + i] = emoji('tieba', i, 'png');
  }
  for (var i = 1; i <= 101; i++) {
    emojiMaps['qq-' + i] = emoji('qq', i, 'gif');
  }
  for (var i = 1; i <= 116; i++) {
    emojiMaps['aru-' + i] = emoji('aru', i, 'gif');
  }
  for (var i = 1; i <= 125; i++) {
    emojiMaps['twemoji-' + i] = emoji('twemoji', i, 'png');
  }
  for (var i = 1; i <= 4; i++) {
    emojiMaps['weibo-' + i] = emoji('weibo', i, 'png');
  }
  function pjax_valine() {
    if(!document.querySelectorAll("#valine_container")[0])return;
    let pagePlaceholder = pdata.commentPlaceholder || "<%= theme.comments.valine.placeholder %>";
    let path = pdata.commentPath;
    if (path.length == 0) {
      let defaultPath = '<%= theme.comments.valine.path %>';
      path = defaultPath || decodeURI(window.location.pathname);
    }
    var valine = new Valine();
	var friends = '<%= theme.comments.valine.friends %>'.split(',');
	var master = '<%= theme.comments.valine.master %>'.split(',');
    valine.init(Object.assign(<%- JSON.stringify(theme.comments.valine) %>, {
      el: '#valine_container',
      path: path,
      placeholder: pagePlaceholder,
      emojiCDN: 'https://cdn.jsdelivr.net/gh/volantis-x/cdn-emoji/valine/',
      emojiMaps: emojiMaps,
      master: master,
      friends: friends,
    }))
  }
  
  //最新评论
  function newcomment() {
 
    function queryLeanCloud(k) {
      let root = this;
      let len = arguments.length;
      if (len == 1) {
        let notExist = new AV.Query("Comment");
        notExist.doesNotExist('rid');
        let isEmpty = new AV.Query("Comment");
        isEmpty.equalTo('rid', '');
        let q = AV.Query.or(notExist, isEmpty);
        if (k === '*') q.exists('url');
        else q.equalTo('url', decodeURI(k));
        q.addDescending('createdAt');
        q.addDescending('insertedAt');
        return q;
      } else {
        let ids = JSON.stringify(arguments[1]).replace(/(\[|\])/g, '');
        let cql = `select * from ${root['config']['clazzName']} where rid in (${ids}) order by -createdAt,-createdAt`;
        return AV.Query.doCloudQuery(cql)
      }
    }
    var valine = new Valine({
      el: '#valine_container_ba（因为主题已经有valine的这些参数了，这里随意填都行）',
      app_id: 'zeKuaSsLBAy1lPz2ukCrQD4P-gzGzoHsz',
      app_key: 'RYNgh2e7vNiU5DbG1hImw4A2',
      placeholder: '',
      serverURLs: ''
    });
 
    //判断博主，heson改为自己的昵称
    function bozhu(e){
        if (e == "muggledy"){
            nick = e + '[博主]'
            return nick;
        } else {
          return e
        }
    }
 
    //判断网址
    function wangzhi(e){
        http = e.slice(0,4)
        https = e.slice(0,5)
        if (http == "http" || https == "https" ){
             return e
        } else if (e == "" || e == null || e == undefined){
          return e
        } else {
          e = 'http://'+ e
          return e
        }
    }
	
	function timeago(dateTimeStamp) { 
        var minute = 1000 * 60; //把分，时，天，周，半个月，一个月用毫秒表示 
        var hour = minute * 60; 
        var day = hour * 24; 
        var week = day * 7; 
        var month = day * 30; 
        var now = new Date().getTime(); //获取当前时间毫秒 
        var diffValue = now - dateTimeStamp; //时间差 
        if (diffValue < 0) { 
            return; 
        } 
        var minC = diffValue / minute; //计算时间差的分，时，天，周，月 
        var hourC = diffValue / hour; 
        var dayC = diffValue / day; 
        var weekC = diffValue / week; 
        var monthC = diffValue / month; 
        if (monthC >= 1 && monthC <= 3) { 
            result = " " + parseInt(monthC) + " 月前" 
        } else if (weekC >= 1 && weekC <= 3) { 
            result = " " + parseInt(weekC) + " 周前" 
        } else if (dayC >= 1 && dayC <= 6) { 
            result = " " + parseInt(dayC) + " 天前" 
        } else if (hourC >= 1 && hourC <= 23) { 
            result = " " + parseInt(hourC) + " 小时前" 
        } else if (minC >= 1 && minC <= 59) { 
            result = " " + parseInt(minC) + " 分钟前" 
        } else if (diffValue >= 0 && diffValue <= minute) { 
            result = "刚刚" 
        } else { 
            var datetime = new Date(); 
            datetime.setTime(dateTimeStamp); 
            var Nmonth = datetime.getMonth() + 1 < 10 ? "0" + (datetime.getMonth() + 1) : datetime.getMonth() + 1; 
            var Ndate = datetime.getDate() < 10 ? "0" + datetime.getDate() : datetime.getDate(); 
            result = Nmonth + "-" + Ndate 
        } 
        return result; 
    }
	
    //查询评论（此处设置为最多显示7条新评论）
    valine.Q('*').limit(7).find().then(function (comments) {
      var hotComments = $("#hot-comments");
      for (var i = 0; i < comments.length; i++) {
        if (i === 0) {
          console.log(comments[0]);
        }
        var nick = bozhu(comments[i]._serverData.nick);
        var content = comments[i]._serverData.comment;
        var newcontent = content.substring(0, 50).replace(/<[^>]+>/g,"");
        var url = comments[i]._serverData.url;
        var link = wangzhi(comments[i]._serverData.link);
        var updatedAt = timeago(comments[i].updatedAt);
        var commentId = '#' + comments[i].id;
        hotComments.append('<div class="card-comment-item"><div class="item-header-text"><a href="'+ link +'" target="_blank" rel="nofollow noopener noreferrer" class="newcomment" >' + nick + '</a>&nbsp;发表于' + updatedAt + '</div><div class="item-text"><a href="' + url + commentId +'"  rel="nofollow" style="color:#717171" class="comments-detail" >' + newcontent + '</a></div></div>');
      }
    });
  }; //comes from https://www.heson10.com/posts/7207.html
  
  //哈哈，我真是个大聪明~
  function zhenghe(){
    pjax_valine();
	newcomment();
  }
  $(function () {
    zhenghe();
  });
  volantis.pjax.push(zhenghe);
</script>
